[Unit]
Description=CAMN-Aggie-Air-Service

[Service]
User=zero
Group=zero

WorkingDirectory=/home/zero/camn-sensor-network/services/edge/
ExecStart=/home/zero/camn-sensor-network/services/edge/sensor-node/.venv/bin/python /home/zero/camn-sensor-network/services/edge/sensor-node/src/sensors/aggie_air.py

Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target