[Unit]
Description=CAMN-Run-Aggie-Air

[Service]
ExecStart=/usr/bin/python3 /home/zero/AQDCS/services/SensorNetwork/run_aggie_air.py

Restart=always

WorkingDirectory=/home/zero/AQDCS/services/SensorNetwork

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target